        .header{
            display: flex;
        }
        
        .wrapper {
            width: 1300px;
            margin: 0 auto;
            padding: 20px;
        }

        .right-caption {
            display: flex;
            align-items: center; 
            padding-bottom: 30px;
        }
        .description-logo{
            color: rgba(17, 24, 39, 1);
            font-family: Inter,sans-serif;
            font-size: 24px;
            font-weight: 900;
            line-height: 32px;
        }
        .navbar{
        padding-left:40px;
        }
        .navigation{
            padding-right: 24px;
            text-decoration: none;
            font-family: Inter,sans-serif;
            font-size: 16px;
            color: rgba(17, 24, 39, 1);
            transition: 0.2s;
        }

        .space{
        }

        .navigation:hover{
            text-decoration: underline dotted;
            text-decoration-thickness: 2px;
            text-underline-offset: 4px; 
            color: rgba(139, 92, 246, 1);
        }

        .info-marfa{
        display: inline-flex;
        vertical-align: middle;
        }
        .delimiter{
            margin: 0 13px 0 13px;
            border: 1px solid  rgba(167, 139, 250, 0.434);
        }
        .phone{
        vertical-align: middle;
        display: inline-flex;
        }

        